.prices__content-catalog {
  height: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.catalog-item {
  width: 250px;
  height: 300px;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease; }

.catalog-item__work {
  background: url("../img/work.jpg") no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: -100px; }

.catalog-item__family {
  background: url("../img/family.jpg") no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center; }

.catalog-item__city {
  background: url("../img/const.jpg") no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center; }

.catalog-item__other {
  background: url("../img/home.jpg") no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: 55%; }

.catalog-item-text {
  margin: 100px auto;
  font-size: 2em; }

.catalog-item:hover .btn-small {
  -webkit-transform: translateY(-30px) scale(1);
  -ms-transform: translateY(-30px) scale(1);
  transform: translateY(-30px) scale(1); }

.catalog-item:hover {
  -webkit-box-shadow: 0 5px 5px 0 #000;
  box-shadow: 0 5px 5px 0 #000;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }
